@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  font-family: "Syne Mono", monospace;
}
.blog-edit-section {
  width: auto;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.timeline-item-color-change {
  transition: background-color 0.5s ease;
}

.timeline-item-color-change:hover {
  background-color: red; 
}
